
body {
    background-color: rgb(135, 162, 175);
}


h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(218, 211, 202);
    top: 10px;
    position:relative;
    left: 20%;
    font-size:70px;
}

img {
    border-radius: 30%;
    left: 250px;
    position:absolute;
    top: 170px;
    padding: 5px;
    background-color:rgb(187, 194, 194);
}


h2 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(33, 46, 46);
    font-size:x-large;
    position:relative;
    left: 480px;
    top: 30px;
}


p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 480px;
    position: relative;
    text-align: left;
    top: 40px;
    font-size: 18px;
}

h4 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(33, 46, 46);
    font-size:large;
    position: relative;
    top: 100px;
    left: 200px;
}

li {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-size:medium;
    color: rgb(33, 46, 46);
    top: 110px;
    position: relative;
    left: 220px;
}
li:hover {
    color:rgb(182, 62, 19) ;
}

h3 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(33, 46, 46);
    font-size:larger;
    position:relative;
    top: -130px;
    left: 680px;
}


a {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color:rgb(33, 46, 46);
    position: relative;
    top: -110px;
    left: 700px;
}
a:hover {
    color:rgb(182, 62, 19);
}
.rodapé {
    position: relative;
    top: 0px;
}
